<table>
  <tr>
    <th>{{ profileHeaders[1] }} and {{ profileHeaders[2] }}</th>
    <td>{{ playerProfile[1] }} {{ playerProfile[2] }}</td>
  </tr>
  <tr>
    <th>{{ profileHeaders[6] }}</th>
    <td>{{ playerProfile[6] }}</td>
  </tr>
  <tr>
    <th>{{ profileHeaders[8] }}</th>
    <td>{{ playerProfile[8] }}</td>
  </tr>
  <tr>
    <th>{{ profileHeaders[7] }}</th>
    <td>{{ playerProfile[7] }}</td>
  </tr>
  <tr>
    <th>{{ profileHeaders[10] }}</th>
    <td>{{ playerProfile[10] }}</td>
  </tr>
  <tr>
    <th>{{ profileHeaders[11] }}</th>
    <td>{{ playerProfile[11] }}</td>
  </tr>
  <tr>
    <th>{{ profileHeaders[17] }}</th>
    <td>{{ playerProfile[17] }}</td>
  </tr>
  <tr>
    <th>{{ profileHeaders[14] }}</th>
    <td>{{ playerProfile[14] }}</td>
  </tr>
</table>
<br>
<button routerLink="/">Back</button>
